@font-face {
  font-family: "iconfont"; /* Project id 5131096 */
  src: url('iconfont.woff2?t=1772968472060') format('woff2'),
       url('iconfont.woff?t=1772968472060') format('woff'),
       url('iconfont.ttf?t=1772968472060') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaolianjie:before {
  content: "\e655";
}

.icon-quxiaochaolianjie:before {
  content: "\e658";
}

.icon-fengexian:before {
  content: "\ec7f";
}

.icon-wuxuliebiao:before {
  content: "\e6ec";
}

.icon-youxuliebiao:before {
  content: "\e6f0";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-zitishanchuxian:before {
  content: "\ec84";
}

.icon-zhengwen:before {
  content: "\e61b";
}

.icon-huanhang:before {
  content: "\e64a";
}

.icon-chexiao:before {
  content: "\e611";
}

.icon-zhongzuo:before {
  content: "\e613";
}

.icon-zu:before {
  content: "\e612";
}

.icon-hangneidaima:before {
  content: "\e67e";
}

.icon-baocun:before {
  content: "\e6a2";
}

.icon-h2:before {
  content: "\e61c";
}

.icon-h3:before {
  content: "\e61d";
}

.icon-h1:before {
  content: "\e61f";
}

.icon-xieti:before {
  content: "\e620";
}

.icon-daimakuai:before {
  content: "\e744";
}

.icon-shendusikao:before {
  content: "\e7d3";
}

.icon-tupian:before {
  content: "\e609";
}

.icon-ai-chat:before {
  content: "\e62a";
}

.icon-xiazai-wenjianxiazai-05:before {
  content: "\e601";
}

.icon-yuanshidaxiao:before {
  content: "\e6f2";
}

.icon-fangxiang-xiangzuo:before {
  content: "\e614";
}

.icon-fangxiang-xiangyou:before {
  content: "\e615";
}

.icon-close:before {
  content: "\e668";
}

.icon-fullscreen-shrink:before {
  content: "\e676";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-top:before {
  content: "\e681";
}

.icon-quxiaozhiding:before {
  content: "\e6e3";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-dianzan:before {
  content: "\e65e";
}

.icon-pengyouquan:before {
  content: "\e8b4";
}

.icon-tongzhi:before {
  content: "\e607";
}

.icon-cunchujuan:before {
  content: "\e61e";
}

.icon-guanyu:before {
  content: "\e641";
}

.icon-yonghu:before {
  content: "\e608";
}

.icon-kuaijiejian:before {
  content: "\e635";
}

.icon-xiazai1:before {
  content: "\e6e5";
}

.icon-xuanzhuan:before {
  content: "\e600";
}

.icon-fangda:before {
  content: "\ec13";
}

.icon-suoxiao:before {
  content: "\e63c";
}

