@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf?t=1764755556700') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-app-region: no-drag;
}

.icon-tongzhi:before {
  content: "\e607";
}

.icon-cunchujuan:before {
  content: "\e61e";
}

.icon-guanyu:before {
  content: "\e641";
}

.icon-yonghu:before {
  content: "\e608";
}

.icon-kuaijiejian:before {
  content: "\e635";
}

.icon-pengyouquan:before {
  content: "\e8b4";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-dianzan:before {
  content: "\e65e";
}

.icon-quxiaozhiding:before {
  content: "\e6e3";
}

.icon-close:before {
  content: "\e668";
}

.icon-fullscreen-shrink:before {
  content: "\e676";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-top:before {
  content: "\e681";
}